@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600|Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: rgb(236, 236, 236);
    text-decoration: none;
}

header {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%; 
    background-color: purple;
    /* border-bottom: 1px black; */
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(101, 101, 196);
}

button {
    padding: 9px 25px;
    background-color: rgb(178, 178, 252);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(111, 111, 238);
}

/* ----------------------------------------- */

.greeting {
    height: 350px;
    background-color: purple;
    
}

.words {
    padding-top: 70px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    /* font-size: 16px; */
    color: rgb(240, 239, 239);
    text-decoration: none; 
    margin-top: 0;   
    border-top: 5px black;
}

.words h2 {
    margin-top: 0;
}

/* ----------------------------------------- */

.card-deck {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-title {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 90;
    margin : 20px;    
}

.list-unstyled li {
    font-family: "Roboto", sans-serif;
    font-weight: 50;
    color: rgb(116, 114, 114);
    font-size: 18px;
}

/* ----------------------------------------- */

.contact {
    background-color: rgb(165, 62, 165);
}

.page-footer {
    background: purple;
    padding:0;
}

.footer-copyright {
    color: white;
    background: purple;
}

/* ----------------------------------------- */
.contact { 
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 50;
    color: rgb(240, 239, 239);
    font-size: 18px;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    margin: 0 auto;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }